/* Custom Properties */
:root {
  --clr-primary-100: hsl(171, 66%, 44%);
  --clr-primary-200: hsl(233, 100%, 69%);

  --clr-neutral-100: hsl(210, 10%, 33%);
  --clr-neutral-200: hsl(201, 11%, 66%);
  --clr-neutral-300: hsl(0, 0%, 100%);

  --clr-opacity-100: hsla(171, 66%, 44%, 0.5);
  --clr-opacity-200: hsla(233, 100%, 69%, 0.5);

  --ff-primary: "Bai Jamjuree", sans-serif;

  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;

  --fw-regular: 400;
  --fw-bold: 600;
}

/* Mobile */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

h1,
h2,
h3,
p {
  text-align: center;
}

h1 {
  font-size: var(--fs-800);
  color: var(--clr-neutral-100);
}

h2 {
  font-size: var(--fs-600);
  color: var(--clr-neutral-100);
}

h3 {
  font-size: var(--fs-700);
  color: var(--clr-neutral-100);
}

p {
  font-size: var(--fs-400);
  color: var(--clr-neutral-200);
}

.hero__button {
  display: flex;
  flex-direction: column;
}

button {
  font-size: var(--fs-500);
  color: var(--clr-neutral-300);
  cursor: pointer;
}

button.hero__button-1 {
  background-color: var(--clr-primary-100);
  border-radius: 50px;
  height: 100px;
  width: 200px;
}

button.hero__button-2 {
  background-color: var(--clr-primary-100);
  border-radius: 50px;
  height: 100px;
  width: 200px;
}

button.hero__content-button-1:hover {
  background-color: var(--clr-opacity-100);
}

button.hero__content-button-2:hover {
  color: var(--clr-opacity-200);
}

/* Desktop */
@media (min-width: 50em) {
  h1 {
    font-size: var(--fs-800);
    color: var(--clr-neutral-100);
  }

  h2 {
    font-size: var(--fs-600);
    color: var(--clr-neutral-100);
  }

  h3 {
    font-size: var(--fs-700);
    color: var(--clr-neutral-100);
  }

  p {
    font-size: var(--fs-400);
    color: var(--clr-neutral-200);
  }
}

/* - Mobile: 375px
- Desktop: 1440px */

/* - [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com) */
